body {
    font-family: Roboto;
    background-color: #8e0e00;
    align-content: center;
}

#container {
    height: 520px;
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

h1 {
    background: #1f030c;
    color: white;
    margin: 0;
    height: 40px;
    text-align: center;
    padding: 20px 0 0 0;
    text-transform: uppercase;
    font-size: 18px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    padding-left: 20px;
}

form input[type="text"] {
    width: 90px;
}

input {
    padding-left: 20px;
}

#billAmount {
    font-size: 14px;
    color: black;
    background-color: #f7f7f7;
    width: 60%;
    border: 3px solid gray;
    padding: 5px 5px 5px 5px;
}

#billAmount:focus {
    background: #fff;
    border: 3px solid black;
    outline: none;
    color: black;
}

#peopleAmount {
    font-size: 14px;
    color: black;
    background-color: #f7f7f7;
    width: 60%;
    border: 3px solid gray;
    padding: 5px 5px 5px 5px;
    margin-left: 20px;
}

#peopleAmount:focus {
    background: #fff;
    border: 3px solid black;
    outline: none;
    color: black;
}


.dollarSign {
    display: inline;
}

#serviceQuality {
    padding: 5px 10px;
    margin: 0 20px;
    border: 3px solid gray;
    font-size: 14px;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    color: white;
    width: 200px;
    margin: 30px auto;
    border-radius: 10px;
    height: 50px;
    font-size: 17px;
    background-color: #ad133a;
}

button:hover {
    background-color: teal;
    border-bottom-color: black;
    border-top-color: black;
}

button:active {
    position: relative;
    top: 1px;
}

#totalTip {
    font-size: 30px;
    margin-top: 5px;
    text-align: center;
}

#totalTip:before {
    content: "Tip Amount";
    font-size: 20px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup {
    font-size: 20px;
    top: -18px;
}

#totalTip small {
    font-size: 20px;
    font-weight: bold;
    display: block;
}